@model MoveEstimator.Models.EstimateViewModel

@{
    ViewBag.Title = "_estimateRow";
}

<tr>
	<td>@Html.DropDownListFor( model => model.FromLocationId, new SelectList( Model.Locations, "Id", "Name", Model.FromLocationId ) )</td>
	<td>@Html.DropDownListFor( model => model.ToLocationId, new SelectList(Model.Locations, "Id", "Name", Model.ToLocationId ) )</td>
	<td>@Html.EditorFor( model => model.SmallMove )</td>
	<td>@Html.EditorFor( model => model.MediumMove )</td>
	<td>@Html.EditorFor( model => model.LargeMove )</td>
</tr>
