@model MoveEstimator.Models.EstimateViewModel

@{
	ViewBag.Title = "Index";
    var estimates = Model.Estimates;
    var locations = Model.Locations;
    var estimate = estimates.FirstOrDefault();
}

<h2>Index</h2>

<table>
	<thead>
		@using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
			<tr>
				<td>@Html.DropDownListFor(model => estimate.FromLocationId, new SelectList(locations, "Id", "Name"), "Please Select", new { Name="FromLocationId" })</td>
				<td>@Html.DropDownListFor( model => estimate.ToLocationId, new SelectList(locations, "Id", "Name"), "Please Select", new { Name="ToLocationId" })</td>
				<td><input type="submit" value="search" /></td>
			</tr>
        }
		<tr>
			<td>@Html.DisplayNameFor(model => estimate.FromLocation)</td>
			<td>@Html.DisplayNameFor(model => estimate.ToLocation)</td>
			<td>@Html.DisplayNameFor(model => estimate.SmallMove)</td>
			<td>@Html.DisplayNameFor(model => estimate.MediumMove)</td>
			<td>@Html.DisplayNameFor(model => estimate.LargeMove)</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in estimates)
		{
			<tr>
				<td>@Html.DisplayFor(model => item.FromLocation.Name)</td>
				<td>@Html.DisplayFor(model => item.ToLocation.Name)</td>
				<td>@Html.DisplayFor(model => item.SmallMove)</td>
				<td>@Html.DisplayFor(model => item.MediumMove)</td>
				<td>@Html.DisplayFor(model => item.LargeMove)</td>
			</tr>
			<tr>
				<td>@Html.DropDownListFor( model => item.FromLocationId, new SelectList( locations, "Id", "Name", item.FromLocationId ) )</td>
				<td>@Html.DropDownListFor( model => item.ToLocationId, new SelectList( locations, "Id", "Name", item.ToLocationId ) )</td>
				<td>@Html.EditorFor(model => item.SmallMove)</td>
				<td>@Html.EditorFor(model => item.MediumMove)</td>
				<td>@Html.EditorFor(model => item.LargeMove)</td>
			</tr>
		}
	</tbody>
</table>